{
  "schemaVersion": 1,
  "id": "${mod_id}",
  "version": "${version}",
  "name": "${mod_name}",
  "description": "${mod_description}",
  "authors": ["${mod_author}"],
  "license": "${mod_license}",
  "icon": "assets/chronosbackup/icon.png",
  "environment": "*",
  "entrypoints": {
    "main": ["com.magicjinn.chronos.shell.fabric.ChronosFabricEntrypoint"],
    "client": ["com.magicjinn.chronos.shell.fabric.ChronosFabricClientEntrypoint"],
    "server": ["com.magicjinn.chronos.shell.fabric.ChronosFabricDedicatedServerEntrypoint"]
  },
  "depends": {
    "fabricloader": "{{fabricLoaderDep}}",
    "minecraft": "${minecraft_dep}",
    "java": "${java_dep}",
    "{{fabricDependencyModId}}": "*"
  }
}
