name: ${mod_id}
version: '${version}'
main: com.magicjinn.chronos.shell.paper.ChronosPaperPlugin
{{pluginYmlApiVersionLine}}
folia-supported: true
description: ${mod_description}
author: ${mod_author}
commands:
  chronos:
    description: Chronos backup commands
    usage: "/chronos backup|cancel|speedtest"
