# Build outputs
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle
.gradle/
**/out/

# IDE
.idea/
*.iml
/.vscode
.project
.classpath
.settings/

# Minecraft / mod runs
**/run/
variants/

# OS
.DS_Store
/core/bin
/tooling/bin

# Other
/core/native/rust-pruner/target
/core/native/rust-pruner/.cargo/config.toml
/core/native/rust-pruner/worlds/
